<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon>Cinema en Casa
    </a>
  </span>

  <div>
    <a mat-button routerLink="peliculas/buscar"
      ><mat-icon>search</mat-icon> Buscar Películas</a
    >
  </div>

  <app-authorization [role]="'Administrator'">
    <ng-container authorized>
      <div><a mat-button routerLink="generos">Géneros</a></div>
      <div><a mat-button routerLink="actores">Actores</a></div>
      <div><a mat-button routerLink="cines">Cines</a></div>
      <div><a mat-button routerLink="peliculas/crear">Crear Película</a></div>
      <div><a mat-button routerLink="usuarios">Usuarios</a></div>
    </ng-container>
  </app-authorization>

  <div class="space"></div>

  <app-authorization>
    <ng-container authorized>
      <span>Hola, {{securityService.getItemToken('email')}} </span>
      <a mat-button (click)="securityService.logoutUser()">Cerrar Sesión</a>
    </ng-container>
    <ng-container unauthorized>
      <a mat-button routerLink="login">Iniciar Sesión</a>
      <a mat-button routerLink="register">Nuevo Usuario</a>
    </ng-container>
  </app-authorization>
</mat-toolbar>
