<app-generic-list [genericList]="movies">
  <ng-container genericContent>
    <div class="movies-container">
      <div
        *ngFor="let movie of movies; let index = index"
        class="movie-container"
      >
        <a>
          <img [src]="movie.poster" alt="Image" />
        </a>
        <p>
          <a> {{ movie.title }} </a>
        </p>
        <div>
          <a mat-flat-button color="primary">Editar</a>
          <button mat-flat-button color="warn" type="button">Borrar</button>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-list>
